<!-- Main index file -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Garage App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  </head>
  <body ng-app='myGarageApp'>
    <h1>My Garage App</h1>
    <div ng-controller='carController'>
      <p>Search for a car to put into your garage</p>
      <input type='text' ng-model="search" placeholder="Make of car">
      <button ng-click='fetchData()'>Search</button>
      <div ng-click='addToGarage(model.name)' ng-repeat="model in details.models">
        {{search + " " + model.name}}
      </div>
      <h1>Garage</h1>
    <div ng-repeat='car in garage'>
      {{car}}
    </div>
    <button ng-click='clearGarage()'>Sell The Whips</script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-mocks/angular-mocks.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="app/app.js"></script>
  </body>
</html>
